<div nz-row>
  <div class="h4">{{ formTitle }}</div>

  <form nz-form [formGroup]="form" (ngSubmit)="submitForm(form.value)"
        nz-col [nzOffset]="8" [nzSpan]="8">
    <nz-input [nzSize]="'large'" formControlName="id" [nzType]="'hidden'"></nz-input>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col>
        <label nz-form-item-required>API Name</label>
      </div>
      <div nz-form-control nz-col [nzValidateStatus]="fc.apiName" nzHasFeedback>
        <nz-input [nzSize]="'large'" formControlName="apiName"></nz-input>
        <div nz-form-explain
             *ngIf="fc.apiName.dirty && fc.apiName.invalid">
          Please input the api name!
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col>
        <label nz-form-item-required>API Version</label>
      </div>
      <div nz-form-control nz-col [nzValidateStatus]="fc.apiVersion" nzHasFeedback>
        <nz-input [nzSize]="'large'" formControlName="apiVersion"></nz-input>
        <div nz-form-explain
             *ngIf="fc.apiVersion.dirty && fc.apiVersion.invalid">
          Please input the api version!
        </div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col>
        <label nz-form-item-required>Service ID</label>
      </div>

      <div nz-form-control nz-col [nzValidateStatus]="fc.serviceId">

        <nz-input  *ngIf="isEditMode" [nzSize]="'large'" formControlName="serviceId" [nzDisabled]="true"></nz-input>

        <nz-select *ngIf="!isEditMode" formControlName="serviceId" (nzOpenChange)="serviceOptionsOpen($event)"
                   [nzNotFoundContent]="'Failed to load the service list'"
                   [nzSize]="'large'" [nzPlaceHolder]="'Choose the service id'" nzAllowClear>

          <nz-option [nzLabel]="'disabled'" [nzDisabled]="true"
                     [nzValue]="'disabled'" *ngIf="isServiceOptionLoading">
            <ng-template #nzOptionTemplate>
              <i class="anticon anticon-loading anticon-spin"></i> Loading...
            </ng-template>
          </nz-option>

          <nz-option
            *ngFor="let serviceId of allServiceIds"
            [nzLabel]="serviceId"
            [nzValue]="serviceId">
          </nz-option>

        </nz-select>

        <div nz-form-explain
             *ngIf="fc.serviceId.dirty && fc.serviceId.invalid">
          Please input the service id!
        </div>
      </div>

    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col>
        <label nz-form-item-required>Description</label>
      </div>
      <div nz-form-control nz-col [nzValidateStatus]="fc.description" nzHasFeedback>
        <nz-input [nzType]="'textarea'" [nzRows]="'4'" [nzSize]="'large'" formControlName="description"></nz-input>
        <div nz-form-explain
             *ngIf="fc.description.dirty && fc.description.invalid">
          Please input the service description!
        </div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-control nz-col>
        <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'">
          <button nz-col nz-button [nzType]="'primary'" [nzSize]="'large'"
                  [disabled]="!form.valid" [nzLoading]="isSaveBtnLoading">Save</button>
          <button nz-col nz-button [nzSize]="'large'" (click)="closeForm()">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
