<div class="h2">{{ formTitle }}</div>
<div nz-row>
  <form nz-form [formGroup]="form" (ngSubmit)="submitForm(form.value)"
        nz-col [nzOffset]="8" [nzSpan]="8">
    <nz-input [nzSize]="'large'" formControlName="id" [nzType]="'hidden'"></nz-input>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col>
        <label nz-form-item-required>Service ID</label>
      </div>
      <div nz-form-control nz-col [nzValidateStatus]="fc.serviceId" nzHasFeedback>
        <nz-input [nzSize]="'large'" formControlName="serviceId"></nz-input>
        <div nz-form-explain
             *ngIf="fc.serviceId.dirty && fc.serviceId.invalid">
          Please input the service id!
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col>
        <label nz-form-item-required>Service Name</label>
      </div>
      <div nz-form-control nz-col [nzValidateStatus]="fc.serviceName" nzHasFeedback>
        <nz-input [nzSize]="'large'" formControlName="serviceName"></nz-input>
        <div nz-form-explain
             *ngIf="fc.serviceName.dirty && fc.serviceName.invalid">
          Please input the service name!
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col>
        <label nz-form-item-required>Description</label>
      </div>
      <div nz-form-control nz-col [nzValidateStatus]="fc.description" nzHasFeedback>
        <nz-input [nzType]="'textarea'" [nzRows]="'6'" [nzSize]="'large'"
                  formControlName="description"></nz-input>
        <div nz-form-explain
             *ngIf="fc.description.dirty && fc.description.invalid">
          Please input the service description!
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-control nz-col>
        <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'">
          <button nz-col nz-button [nzType]="'primary'" [nzSize]="'large'"
                  [disabled]="!form.valid" [nzLoading]="isSaveBtnLoading">Save</button>
          <button nz-col nz-button [nzSize]="'large'" (click)="closeForm()">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
