<div nz-row>
  <div class="h4">{{ formTitle }}</div>

  <form nz-form [formGroup]="form" (ngSubmit)="submitForm(form.value)"
        nz-col [nzOffset]="8" [nzSpan]="8">
    <nz-input [nzSize]="'large'" formControlName="id" [nzType]="'hidden'"></nz-input>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col>
        <label nz-form-item-required>Publish Version ( eg: v1.0 )</label>
      </div>
      <div nz-form-control nz-col [nzValidateStatus]="fc.publishVersion" nzHasFeedback>
        <nz-input [nzSize]="'large'" formControlName="publishVersion"></nz-input>
        <div nz-form-explain
             *ngIf="fc.publishVersion.dirty && fc.publishVersion.invalid">
          Please input the publish version!
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col>
        <label nz-form-item-required>Description</label>
      </div>
      <div nz-form-control nz-col [nzValidateStatus]="fc.description" nzHasFeedback>
        <nz-input [nzType]="'textarea'" [nzRows]="'6'" [nzSize]="'large'"
                  formControlName="description"></nz-input>
        <div nz-form-explain
             *ngIf="fc.description.dirty && fc.description.invalid">
          Please input the service description!
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-control nz-col>
        <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'">
          <button nz-col nz-button [nzType]="'primary'" [nzSize]="'large'"
                  [disabled]="!form.valid" [nzLoading]="isSaveBtnLoading">Save</button>
          <button nz-col nz-button [nzSize]="'large'" (click)="closeForm()">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
