<div nz-row>
  <div nz-col [nzXs]="2" [nzSm]="4" [nzMd]="6" [nzLg]="8" [nzXl]="10">
  </div>
  <div nz-col [nzXs]="20" [nzSm]="16" [nzMd]="12" [nzLg]="8" [nzXl]="4">
    <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'">
      <div nz-col>
        <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm($event,loginForm.value)">
          <div nz-form-item>
            <h1 color="">SYSWIN</h1>
          </div>
          <div nz-form-item>
            <div nz-form-control [nzValidateStatus]="loginForm.controls.employeeId" nzHasFeedback>
              <nz-input formControlName="employeeId" [nzPlaceHolder]="'Employee ID'" [nzSize]="'large'">
                <ng-template #prefix>
                  <i class="anticon anticon-user"></i>
                </ng-template>
              </nz-input>
              <div nz-form-explain
                   *ngIf="loginForm.controls.employeeId.dirty&&loginForm.controls.employeeId.invalid">
                Please input your employee ID!
              </div>
            </div>
          </div>
          <div nz-form-item>
            <div nz-form-control [nzValidateStatus]="loginForm.controls.password" nzHasFeedback>
              <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'Password'"
                        [nzSize]="'large'">
                <ng-template #prefix>
                  <i class="anticon anticon-lock"></i>
                </ng-template>
              </nz-input>
              <div nz-form-explain
                   *ngIf="loginForm.controls.password.dirty&&loginForm.controls.password.invalid">
                Please input your Password!
              </div>
            </div>
          </div>
          <div nz-form-item>
            <div nz-form-control>
              <label nz-checkbox formControlName="remember">
                <span>Remember me</span>
              </label>
              <button nz-button class="login-form-button" [disabled]="!loginForm.valid"
                      [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="isLoading">Log in
              </button>
              <!--Or-->
              <!--<a href="">register now!</a>-->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div nz-col [nzXs]="2" [nzSm]="4" [nzMd]="6" [nzLg]="8" [nzXl]="10">

  </div>
</div>


