<nz-table #nzTable
          [nzDataSource]="data"
          (nzDataChange)="onDataChange($event)"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          [nzLoading]="isTableLoading"
          [nzShowTitle]="true"
          [nzShowFooter]="false"
          [nzIsPagination]="true"
          [nzShowSizeChanger]="true"
          [nzPageSizeSelectorValues]="pageSizeSelectorValues"
          [nzShowQuickJumper]="true"
          [nzShowTotal]="true"
          [nzIsPageIndexReset]="false">
  <div nz-table-title nz-row [nzType]="'flex'" [nzJustify]="'space-between'" [nzAlign]="'middle'">
    <button nz-button [disabled]="isDeleteBtnDisabled" [nzType]="'danger'"
            [nzLoading]="isDeleteBtnLoading" (click)="batchDelete()">
      Delete
    </button>
    <span class="ml-2" *ngIf="selectCount">
    Selected {{ selectCount }} items
    </span>
    <div class="m-auto"></div>
    <button nz-button class="mr-4" [disabled]="isClearFilterBtnDisabled" (click)="clearFilter()">Clear filters</button>
    <button nz-button [nzType]="'primary'" routerLink="create">Create</button>
  </div>
  <thead nz-thead>
  <tr>
    <th nz-th nzCheckbox>
      <label nz-checkbox [(ngModel)]="isSelectAll" [nzIndeterminate]="isSelectIndeterminate"
             (ngModelChange)="selectAll($event)">
      </label>
    </th>
    <th nz-th [nzWidth]="'50px'">
      <span>ID</span>
      <nz-table-sort [(nzValue)]="sortOptions.id" (nzValueChange)="sort('id',$event)"></nz-table-sort>
    </th>
    <th nz-th [nzWidth]="'120px'">
      <span>API Name</span>
      <nz-table-sort [(nzValue)]="sortOptions.apiName" (nzValueChange)="sort('apiName',$event)"></nz-table-sort>
    </th>
    <th nz-th [nzWidth]="'120px'">
      <span>API Version</span>
      <nz-table-sort [(nzValue)]="sortOptions.apiVersion" (nzValueChange)="sort('apiVersion',$event)"></nz-table-sort>
      <nz-dropdown [nzTrigger]="'click'">
        <i class="anticon anticon-filter"
           [class.ant-table-filter-selected]="filterValue.apiVersion && filterValue.apiVersion.length !== 0"
           nz-dropdown></i>
        <ul nz-menu>
          <li nz-menu-item [nzSelected]="filter.selected" *ngFor="let filter of filterOptions.apiVersion">
            <label nz-checkbox [(ngModel)]="filter.selected">
              <span>{{ filter.name }}</span>
            </label>
          </li>
        </ul>
        <div nz-table-filter>
          <span nz-table-filter-confirm (click)="search()">OK</span>
          <span nz-table-filter-clear (click)="clearFilter('apiVersion')">Reset</span>
        </div>
      </nz-dropdown>
    </th>
    <th nz-th [nzWidth]="'120px'">
      <span>Service ID</span>
      <nz-table-sort [(nzValue)]="sortOptions.serviceId" (nzValueChange)="sort('serviceId',$event)"></nz-table-sort>
      <nz-dropdown [nzTrigger]="'click'">
        <i class="anticon anticon-filter"
           [class.ant-table-filter-selected]="filterValue.serviceId && filterValue.serviceId.length !== 0"
           nz-dropdown></i>
        <ul nz-menu>
          <li nz-menu-item [nzSelected]="filter.selected" *ngFor="let filter of filterOptions.serviceId">
            <label nz-checkbox [(ngModel)]="filter.selected">
              <span>{{ filter.name }}</span>
            </label>
          </li>
        </ul>
        <div nz-table-filter>
          <span nz-table-filter-confirm (click)="search()">OK</span>
          <span nz-table-filter-clear (click)="clearFilter('serviceId')">Reset</span>
        </div>
      </nz-dropdown>
    </th>
    <th nz-th [nzWidth]="'120px'">
      <span>Description</span>
    </th>
    <th nz-th [nzWidth]="'120px'">
      <span>Operator</span>
      <nz-table-sort [(nzValue)]="sortOptions.operator" (nzValueChange)="sort('operator',$event)"></nz-table-sort>
      <nz-dropdown [nzTrigger]="'click'">
        <i class="anticon anticon-filter"
           [class.ant-table-filter-selected]="filterValue.operator && filterValue.operator.length !== 0"
           nz-dropdown></i>
        <ul nz-menu>
          <li nz-menu-item [nzSelected]="filter.selected" *ngFor="let filter of filterOptions.operator">
            <label nz-checkbox [(ngModel)]="filter.selected">
              <span>{{ filter.name }}</span>
            </label>
          </li>
        </ul>
        <div nz-table-filter>
          <span nz-table-filter-confirm (click)="search()">OK</span>
          <span nz-table-filter-clear (click)="clearFilter('operator')">Reset</span>
        </div>
      </nz-dropdown>
    </th>
    <th nz-th [nzWidth]="'120px'">
      <span>Create Time</span>
      <nz-table-sort [(nzValue)]="sortOptions.createTime" (nzValueChange)="sort('createTime',$event)"></nz-table-sort>
    </th>
    <th nz-th [nzWidth]="'120px'">
      <span>Update Time</span>
      <nz-table-sort [(nzValue)]="sortOptions.updateTime" (nzValueChange)="sort('updateTime',$event)"></nz-table-sort>
    </th>
    <th nz-th [nzWidth]="'100px'">
      <span>Action</span>
    </th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let row of nzTable.data; trackBy: trackById">
    <td nz-td nzCheckbox>
      <label nz-checkbox [(ngModel)]="row.selected" (ngModelChange)="refreshSelect($event)">
      </label>
    </td>
    <td nz-td>{{ row.id }}</td>
    <td nz-td>{{ row.apiName }}</td>
    <td nz-td>{{ row.apiVersion }}</td>
    <td nz-td>{{ row.serviceId }}</td>
    <td nz-td>{{ row.description }}</td>
    <td nz-td>{{ row.operator }}</td>
    <td nz-td>{{ row.createTime }}</td>
    <td nz-td>{{ row.updateTime }}</td>
    <td nz-td>
      <span>
        <a [routerLink]="['edit', row.id]">Edit</a>
        <span nz-table-divider></span>
        <nz-popconfirm [nzTitle]="'Are you sure to delete this record?'" (nzOnConfirm)="delete(row.id)"
                       [nzPlacement]="'bottom'" [nzOkText]="'OK'" [nzCancelText]="'Cancel'">
          <a nz-popconfirm class="link-text">delete</a>
        </nz-popconfirm>
      </span>
    </td>
  </tr>
  </tbody>
</nz-table>
