<nz-layout style="height:100%;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null"
            nzWidth="200" nzCollapsedWidth="64" nzBreakpoint="sm" nzCollapseChange="onCollapseChange()">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-submenu [nzOpen]="rla11.isActive || rla12.isActive || rla13.isActive || rla14.isActive">
        <span title><i class="anticon anticon-api"></i><span class="nav-text">API Management</span></span>
        <ul>
          <li nz-menu-item
              [nzSelected]="rla11.isActive"
              routerLink="/api-manage/versions"
              routerLinkActive
              #rla11="routerLinkActive">
            Version Info
          </li>
          <li nz-menu-item
              [nzSelected]="rla12.isActive"
              routerLink="/api-manage/services"
              routerLinkActive
              #rla12="routerLinkActive">
            Service Info
          </li>
          <li nz-menu-item
              [nzSelected]="rla13.isActive"
              routerLink="/api-manage/apis"
              routerLinkActive
              #rla13="routerLinkActive">
            API Info
          </li>
          <li nz-menu-item
              [nzSelected]="rla14.isActive"
              routerLink="/api-manage/version-mappings"
              routerLinkActive
              #rla14="routerLinkActive">
            Version Mapping Info
          </li>
        </ul>
      </li>
      <li nz-submenu [nzOpen]="rla21.isActive || rla22.isActive">
        <span title><i class="anticon anticon-team"></i><span class="nav-text">Black/White List</span></span>
        <ul>
          <li nz-menu-item [nzSelected]="rla21.isActive"
              routerLink=""
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive
              #rla21="routerLinkActive">
            Black List
          </li>
          <li nz-menu-item [nzSelected]="rla22.isActive"
              routerLink=""
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive
              #rla22="routerLinkActive">
            White List
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="top-nav">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed"
         (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content class="mx-3 my-0">
      <nz-breadcrumb class="mx-0 my-3">
        <nz-breadcrumb-item *ngIf="topmenuName">{{ topmenuName }}</nz-breadcrumb-item>
        <nz-breadcrumb-item *ngIf="submenuName">{{ submenuName }}</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="content p-4">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer class="text-center">API Geteway Management ©2017 Implement By shengyuhong@syswin.com</nz-footer>
  </nz-layout>
</nz-layout>

<nz-back-top></nz-back-top>
