<div class="h2">{{ formTitle }}</div>
<div nz-row>
  <form nz-form [formGroup]="form" (ngSubmit)="submitForm(form.value)"
        nz-col [nzOffset]="8" [nzSpan]="8">
    <nz-input [nzSize]="'large'" formControlName="id" [nzType]="'hidden'"></nz-input>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col>
        <label nz-form-item-required>Publish Version</label>
      </div>

      <div  nz-form-control nz-col [nzValidateStatus]="fc.publishVersion">
        <nz-input *ngIf="isEditMode" [nzSize]="'large'" formControlName="publishVersion" [nzDisabled]="true"></nz-input>

        <nz-select *ngIf="!isEditMode" formControlName="publishVersion"
                   (nzOpenChange)="optionsOpen('publishVersion', $event)"
                   [nzNotFoundContent]="'Failed to load the publish version list'"
                   [nzSize]="'large'" [nzPlaceHolder]="'Choose the publish version'" nzAllowClear>

          <nz-option [nzLabel]="'disabled'" [nzDisabled]="true"
                     [nzValue]="'disabled'" *ngIf="!formOptions.publishVersion.loaded">
            <ng-template #nzOptionTemplate>
              <i class="anticon anticon-loading anticon-spin"></i> Loading...
            </ng-template>
          </nz-option>

          <nz-option
            *ngFor="let option of formOptions.publishVersion.options"
            [nzLabel]="option"
            [nzValue]="option">
          </nz-option>

        </nz-select>

        <div nz-form-explain
             *ngIf="fc.publishVersion.dirty && fc.publishVersion.invalid">
          Please input the publish version!
        </div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col>
        <label nz-form-item-required>Service ID</label>
      </div>

      <div  nz-form-control nz-col [nzValidateStatus]="fc.serviceId">
        <nz-input *ngIf="isEditMode" [nzSize]="'large'" formControlName="serviceId" [nzDisabled]="true"></nz-input>

        <nz-select *ngIf="!isEditMode" formControlName="serviceId"
                   (nzOpenChange)="optionsOpen('serviceId', $event)"
                   [nzNotFoundContent]="'Failed to load the service id list'"
                   [nzSize]="'large'" [nzPlaceHolder]="'Choose the service id'" nzAllowClear>

          <nz-option [nzLabel]="'disabled'" [nzDisabled]="true"
                     [nzValue]="'disabled'" *ngIf="!formOptions.serviceId.loaded">
            <ng-template #nzOptionTemplate>
              <i class="anticon anticon-loading anticon-spin"></i> Loading...
            </ng-template>
          </nz-option>

          <nz-option
            *ngFor="let option of formOptions.serviceId.options"
            [nzLabel]="option"
            [nzValue]="option">
          </nz-option>

        </nz-select>

        <div nz-form-explain
             *ngIf="fc.serviceId.dirty && fc.serviceId.invalid">
          Please input the service id!
        </div>
      </div>

    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col>
        <label nz-form-item-required>API Name</label>
      </div>

      <div  nz-form-control nz-col [nzValidateStatus]="fc.apiName">
        <nz-input *ngIf="isEditMode" [nzSize]="'large'" formControlName="apiName" [nzDisabled]="true"></nz-input>

        <nz-select *ngIf="!isEditMode" formControlName="apiName"
                   (nzOpenChange)="optionsOpen('apiName', $event)"
                   [nzNotFoundContent]="'Failed to load the api name list'"
                   [nzSize]="'large'" [nzPlaceHolder]="'Choose the api name'" nzAllowClear>

          <nz-option [nzLabel]="'disabled'" [nzDisabled]="true"
                     [nzValue]="'disabled'" *ngIf="!formOptions.apiName.loaded">
            <ng-template #nzOptionTemplate>
              <i class="anticon anticon-loading anticon-spin"></i> Loading...
            </ng-template>
          </nz-option>

          <nz-option
            *ngFor="let option of formOptions.apiName.options"
            [nzLabel]="option"
            [nzValue]="option">
          </nz-option>

        </nz-select>

        <div nz-form-explain
             *ngIf="fc.apiName.dirty && fc.apiName.invalid">
          Please input the api name!
        </div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col>
        <label nz-form-item-required>API Version</label>
      </div>

      <div  nz-form-control nz-col [nzValidateStatus]="fc.apiVersion">
        <nz-input *ngIf="isEditMode" [nzSize]="'large'" formControlName="apiVersion" [nzDisabled]="true"></nz-input>

        <nz-select *ngIf="!isEditMode" formControlName="apiVersion"
                   (nzOpenChange)="optionsOpen('apiVersion', $event)"
                   [nzNotFoundContent]="'Failed to load the api version list'"
                   [nzSize]="'large'" [nzPlaceHolder]="'Choose the api name'" nzAllowClear>

          <nz-option [nzLabel]="'disabled'" [nzDisabled]="true"
                     [nzValue]="'disabled'" *ngIf="!formOptions.apiVersion.loaded">
            <ng-template #nzOptionTemplate>
              <i class="anticon anticon-loading anticon-spin"></i> Loading...
            </ng-template>
          </nz-option>

          <nz-option
            *ngFor="let option of formOptions.apiVersion.options"
            [nzLabel]="option"
            [nzValue]="option">
          </nz-option>

        </nz-select>

        <div nz-form-explain
             *ngIf="fc.apiVersion.dirty && fc.apiVersion.invalid">
          Please input the api version!
        </div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col>
        <label nz-form-item-required>Open Scope</label>
      </div>

      <div  nz-form-control nz-col [nzValidateStatus]="fc.openScope">
        <nz-input *ngIf="isEditMode" [nzSize]="'large'" formControlName="openScope" [nzDisabled]="true"></nz-input>

        <nz-select *ngIf="!isEditMode" formControlName="openScope"
                   (nzOpenChange)="optionsOpen('openScope', $event)"
                   [nzNotFoundContent]="'Failed to load the open scope list'"
                   [nzSize]="'large'" [nzPlaceHolder]="'Choose the open scope'" nzAllowClear>

          <nz-option [nzLabel]="'disabled'" [nzDisabled]="true"
                     [nzValue]="'disabled'" *ngIf="!formOptions.openScope.loaded">
            <ng-template #nzOptionTemplate>
              <i class="anticon anticon-loading anticon-spin"></i> Loading...
            </ng-template>
          </nz-option>

          <nz-option
            *ngFor="let option of formOptions.openScope.options"
            [nzLabel]="option"
            [nzValue]="option">
          </nz-option>

        </nz-select>

        <div nz-form-explain
             *ngIf="fc.openScope.dirty && fc.openScope.invalid">
          Please input the open scope!
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-control nz-col>
        <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'">
          <button nz-col nz-button [nzType]="'primary'" [nzSize]="'large'"
                  [disabled]="!form.valid" [nzLoading]="isSaveBtnLoading">Save
          </button>
          <button nz-col nz-button [nzSize]="'large'" (click)="closeForm()">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
