/* You can add global styles to this file, and also import other style files */

$roboto-font-path: "../node_modules/mdbootstrap/font/roboto/" !default;

@import "../node_modules/mdbootstrap/sass/mdb/free/data/functions";
@import "../node_modules/mdbootstrap/sass/mdb/free/data/variables-b4";
@import "../node_modules/mdbootstrap/sass/mdb/free/data/prefixer";
@import "../node_modules/mdbootstrap/sass/mdb/free/data/mixins";
@import "../node_modules/mdbootstrap/sass/mdb/free/data/colors";
@import "../node_modules/mdbootstrap/sass/mdb/free/data/variables";

@import "../node_modules/mdbootstrap/sass/mdb/free/global";
@import "../node_modules/mdbootstrap/sass/mdb/free/animations";
@import "../node_modules/mdbootstrap/sass/mdb/free/helpers";
@import "../node_modules/mdbootstrap/sass/mdb/free/buttons";
@import "../node_modules/mdbootstrap/sass/mdb/free/waves";

body {
  background-color: #eee;
}

.link-text {
  color: #108ee9 !important;
  &:hover {
    color: #49a9ee !important;
  }
}



